.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  margin: 80px 0 32px;
  font-size: 60px;
  line-height: 64px;
  font-family: "Roboto-Slab", serif;
  font-weight: 400;
  max-width: 600px;
  color: rgba(255, 255, 255, 1);
}

.hero__subtitle {
  margin: 0 0 88px;
  font-size: 16px;
  opacity: 0.9;
  max-width: 600px;
  color: rgba(255, 255, 255, 1);
}

.search {
  position: relative;
  display: flex;
  max-width: 608px;
  width: 100%;
  border: none;
  margin-bottom: 80px;
}

.search__input {
  width: 100%;
  height: 64px;
  border: none;
  padding: 0 0 0 24px;
  border-radius: 100px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.search__button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 64px;
  width: 168px;
  padding: 0 24px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #fff;
  background: rgba(47, 113, 229, 1);
  font-size: 18px;
  line-height: 24px;
  z-index: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.search__button:hover {
  background: rgba(47, 113, 229, 0.8);
}
